@media (max-width: 1000px) {
  .header {
    padding: 0 5.67%;
  }
}

@media (max-width: 768px) {
  .burger__menu {
    display: block;
  }
  .profile {
    display: none;
  }
  .header {
    padding: 0 18px;
  }
  .header__all-questions {
    display: none;
  }
  .header__logo {
    width: 103px;
    height: 39px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .header {
    padding: 0 18px;
  }
  .header__logo {
    width: 77px;
    height: 29px;
  }
  .header__search-button {
    display: block;
  }
  .header__search-icon, .header__search {
    display: none;
  }
}
