@media (max-width: 1000px) {
  .header {
    padding: 0 5.67%;
  }
  .columns__right {
    display: none;
  }
  .footer__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger__menu {
    display: block;
  }
  .profile {
    display: none;
  }
  .header {
    padding: 0 18px;
  }
  .header__all-questions {
    display: none;
  }
  .header__logo {
    width: 103px;
    height: 39px;
  }
  .header__button-login {
    display: none;
  }
  .columns__left {
    display: none;
  }
  .title {
    margin: 80px 0 40px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .title__ask-button {
    width: 100%;
  }
  .question {
    padding: 24px;
  }
  .question__avatar {
    width: 40px;
    height: 40px;
  }
  .answer {
    padding: 24px;
  }
  .footer__left {
    display: none;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo politics " "social copy";
  }
  .footer__logo img {
    width: 104px;
    height: 40px;
  }
  .footer__politics {
    display: flex;
    flex-direction: column;
  }
  .footer__politics a:last-child {
    margin: 8px 0 0 0;
  }
  .footer__copy {
    justify-self: start;
  }
  .your-answer {
    padding: 16px 8px;
    grid-template-columns: 1fr;
    grid-template-areas: "textarea " "attach " "checkbox" "button ";
  }
  .your-answer__avatar {
    display: none;
  }
  .your-answer__textarea {
    height: 240px;
  }
  .your-answer__checkbox {
    margin: 0;
  }
  .your-answer__button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .question {
    padding: 16px;
    grid-template-columns: 55px auto;
    grid-template-areas: "avatar name" "text text";
    align-items: flex-start;
  }
  .question__point {
    display: none;
  }
  .question__avatar {
    justify-self: start;
  }
  .question__name {
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: column;
  }
  .question__time {
    font-size: 14px;
    line-height: 16px;
  }
  .question__images {
    flex-direction: column;
    align-items: center;
  }
  .question__images img {
    margin: 16px 0 0 0;
    max-width: 100%;
  }
  .question__menu {
    display: none;
  }
  .footer__container {
    grid-template-columns: 1fr;
    row-gap: 40px;
    grid-template-areas: "logo" "social" "politics" "copy";
  }
  .answer {
    padding: 16px;
    grid-template-columns: 55px auto;
    grid-template-areas: "avatar name" "text text";
    align-items: flex-start;
  }
  .answer__point {
    display: none;
  }
  .answer__avatar {
    justify-self: start;
  }
  .answer__images {
    flex-direction: column;
    align-items: center;
  }
  .answer__images img {
    margin: 16px 0 0 0;
    max-width: 100%;
  }
  .answer__name {
    display: grid;
    grid-template-areas: "right" "user-name" "time";
  }
  .answer__menu {
    display: none;
  }
  .answer__right {
    margin: 0 0 0 26px;
  }
  .ask-block {
    margin: 80px 0 80px 0;
  }
  .ask {
    flex-direction: column;
  }
  .ask__button {
    width: 100%;
    margin: 24px 0 0 0;
  }
}

@media (max-width: 320px) {
  h1 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .header {
    padding: 0 18px;
  }
  .header__logo {
    width: 77px;
    height: 29px;
  }
  .header__search-button {
    display: block;
  }
  .header__search-icon, .header__search {
    display: none;
  }
}
