@media (max-width: 1000px) {
  .header {
    padding: 0 5.67%;
  }
  .columns__right {
    display: none;
  }
  .footer__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger__menu {
    display: block;
  }
  .profile {
    display: none;
  }
  .header {
    padding: 0 18px;
  }
  .header__all-questions {
    display: none;
  }
  .header__logo {
    width: 103px;
    height: 39px;
  }
  .columns__left {
    display: none;
  }
  .title {
    margin: 80px 0 40px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .title__ask-button {
    width: 100%;
  }
  .question {
    padding: 24px;
  }
  .question__avatar {
    width: 40px;
    height: 40px;
  }
  .footer {
    padding: 25px 16px;
  }
  .footer__left {
    display: none;
  }
  .footer__container {
    flex: 1 1 auto;
    flex-direction: column;
  }
  .footer__logo {
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__logo img {
    width: 104px;
    height: 40px;
  }
  .footer__logo a {
    flex: 0 0 50%;
  }
  .footer__logo a:last-child {
    margin: 8px 0 0 0;
  }
  .footer__logo p {
    flex: 0 0 50%;
    flex-direction: column;
    margin: 0;
  }
  .footer__social-copy {
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
  }
  .footer_social {
    padding: 0 10px 0 0;
    flex: 0 0 50%;
  }
  .footer__copy {
    margin: 0;
    flex: 0 0 50%;
  }
}

@media (max-width: 425px) {
  .question {
    padding: 16px;
    grid-template-columns: 55px auto;
    grid-template-areas: "avatar name" "text text";
    align-items: flex-start;
  }
  .question__point {
    display: none;
  }
  .question__avatar {
    justify-self: start;
  }
  .question__name {
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: column;
  }
  .question__time {
    font-size: 14px;
    line-height: 16px;
  }
  .question__menu {
    display: none;
  }
}

@media (max-width: 320px) {
  h1 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .header {
    padding: 0 18px;
  }
  .header__logo {
    width: 77px;
    height: 29px;
  }
  .header__search-button {
    display: block;
  }
  .header__search-icon, .header__search {
    display: none;
  }
}
