@media (max-width: 1000px) {
   .header {
      padding: 0 5.67%;
   }
   .burger-menu {
      right: 2.5%;
   }

   .columns {
      &__right {
         display: none;
      }
   }
   .footer {
      &__right {
         display: none;
      }
   }
}

////////////////////////////////////////////

@media (max-width: 768px) {
   .burger__menu-button {
      display: block;
   }
   .burger-menu {
      width: 100%;
      border-radius: 0;
      height: auto;
      right: 0;
      top: -110%;

      &__profile {
         display: flex;
         margin: 0 0 24px 0;
      }
      &__list {
         & li:first-child {
            display: flex;
         }
      }
      &.active {
         top: 80px;
      }
   }

   .profile_header {
      display: none;
   }
   .profile__avatar {
      margin: 0 16px 0 0;
   }

   .header {
      padding: 0 18px;
      &__all-questions {
         display: none;
      }
      &__logo {
         width: 103px;
         height: 39px;
      }
      &__button-login {
         display: none;
      }
   }

   .columns {
      &__left {
         display: none;
      }
   }

   .title {
      margin: 80px 0 40px 0;
      flex-direction: column;
      align-items: flex-start;
      &__ask-button {
         width: 100%;
      }
   }
   .question {
      padding: 24px;
      &__avatar {
         width: 40px;
         height: 40px;
      }
   }
   .answer {
      padding: 24px;
   }
   .footer {
      &__left {
         display: none;
      }
      &__container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas:
            "logo politics "
            "social copy";
      }
      &__logo {
         & img {
            width: 104px;
            height: 40px;
         }
      }

      &__politics {
         display: flex;
         flex-direction: column;
         & a:last-child {
            margin: 8px 0 0 0;
         }
      }
      &__copy {
         justify-self: start;
      }
   }
   .textarea-block {
      padding: 16px 8px;
      grid-template-columns: 1fr;
      grid-template-areas:
         "textarea "
         "attach "
         "checkbox"
         "button ";
      &__avatar {
         display: none;
      }
      &__input {
         height: 80px;
      }
      &__textarea {
         height: 240px;
      }
      &__checkbox {
         margin: 0;
      }
      &__button {
         width: 100%;
      }
   }
   .registration {
      margin: 0;
      padding: 80px 16px 40px;
      width: 100%;
      display: grid;
      column-gap: 24px;
      row-gap: 40px;
      grid-template-areas:
         "title title"
         "name email"
         "pass repeat-pass"
         "info info";
      &__name {
         margin: 0;
      }
      &__email {
         margin: 0;
      }

      &__pass {
         margin: 0;
      }

      &__repeat-pass {
         margin: 0;
      }

      &__info {
         margin: 0;
         flex-direction: column;
         align-items: flex-start;
         & button {
            width: 100%;
            margin: 0 0 16px 0;
         }
      }
   }
   .input {
      &-form {
         width: 100%;
      }
   }
   .enter {
      width: 100%;
      margin: 0;
      padding: 80px 16px 40px;

      &__inputs {
         display: flex;
         justify-content: stretch;
         column-gap: 24px;
         margin: 40px 0 0 0;
         & div {
            margin: 0;
         }
      }
      &__email {
         flex: 0 0 48%;
      }
      &__pass {
         flex: 0 0 48%;
      }
      & button {
         width: 100%;
         margin: 40px 0 0 0;
      }
   }

   .recover {
      width: 100%;
      margin: 0;
      padding: 80px 16px 40px;
      &__text {
         margin: 8px 0 0 0;
      }
      &__email {
         margin: 40px 0 0 0;
         max-width: 400px;
      }
      & button {
         width: 100%;
      }
   }

   .new-question {
      grid-template-columns: 1fr;
      grid-template-areas:
         "input"
         "textarea"
         "attach"
         "button";
      &__title {
         margin: 80px 0 16px 0;
      }
      &__textarea-question {
         height: 80px;
      }
   }
   .question__rights {
      margin: 0 0 80px 0;
   }
}
////////////////////////////////////////////
@media (max-width: 425px) {
   .question {
      padding: 16px;
      grid-template-columns: 55px auto;
      grid-template-areas:
         "avatar name"
         "text text";
      align-items: flex-start;
      &__point {
         display: none;
      }
      &__avatar {
         justify-self: start;
      }
      &__name {
         margin: 0 0 16px 0;
         display: flex;
         flex-direction: column;
      }
      &__time {
         font-size: 14px;
         line-height: 16px;
      }
      &__images {
         flex-direction: column;
         align-items: center;

         & img {
            margin: 16px 0 0 0;

            max-width: 100%;
         }
      }

      &__menu {
         display: none;
      }
   }
   .footer {
      &__container {
         grid-template-columns: 1fr;
         row-gap: 40px;
         grid-template-areas:
            "logo"
            "social"
            "politics"
            "copy";
      }
   }
   .answer {
      padding: 16px;
      grid-template-columns: 55px auto;
      grid-template-areas:
         "avatar name"
         "text text";
      align-items: flex-start;
      &__point {
         display: none;
      }
      &__avatar {
         justify-self: start;
      }
      &__images {
         flex-direction: column;
         align-items: center;

         & img {
            margin: 16px 0 0 0;

            max-width: 100%;
         }
      }
      &__name {
         display: grid;
         grid-template-areas:
            "right"
            "user-name"
            "time";
      }
      &__menu {
         display: none;
      }

      &__right {
         margin: 0 0 0 26px;
      }
   }
   .ask-block {
      margin: 80px 0 80px 0;
   }
   .ask {
      flex-direction: column;
      &__button {
         width: 100%;
         margin: 24px 0 0 0;
      }
   }
   .registration {
      display: block;

      &__name {
         margin: 40px 0 0 0;
      }
      &__email {
         margin: 16px 0 0 0;
      }

      &__pass {
         margin: 40px 0 0 0;
      }

      &__repeat-pass {
         margin: 16px 0 0 0;
      }

      &__info {
         margin: 40px 0 0 0;
      }
   }
   .enter {
      &__inputs {
         display: flex;
         row-gap: 16px;
         flex-direction: column;
         justify-content: stretch;
         column-gap: 24px;
         margin: 40px 0 0 0;
         & div {
            margin: 0;
         }
      }
   }

   .recover {
      padding: 40px 16px;
      &__text {
         margin: 24px 0 0 0;
      }
      &__email {
         margin: 16px 0 0 0;
         max-width: none;
         width: 100%;
      }
      & button {
         margin: 24px 0 0 0;
         width: 100%;
      }
   }

   .new-question {
      margin: 24px 0 0 0;
      &__title {
         margin: 40px 0 16px 0;
      }
   }
}
////////////////////////////////////////////
@media (max-width: 320px) {
   h1 {
      font-family: "Circe";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
   }
   h3 {
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
   }
   .header {
      height: 48px;
      padding: 0 18px;
      &__logo {
         width: 77px;
         height: 29px;
      }

      &__search-button {
         display: block;
      }
      &__search-icon,
      &__search {
         display: none;
      }
   }
   .burger-menu {
      top: -150%;
      &.active {
         top: 48px;
      }
   }
}
