@media (max-width: 1000px) {
   .header {
      padding: 0 5.67%;
   }
   .columns {
      &__right {
         display: none;
      }
   }
   .footer {
      &__right {
         display: none;
      }
   }
}

////////////////////////////////////////////

@media (max-width: 768px) {
   .burger__menu {
      display: block;
   }

   .profile {
      display: none;
   }

   .header {
      padding: 0 18px;
      &__all-questions {
         display: none;
      }
      &__logo {
         width: 103px;
         height: 39px;
      }
   }

   .columns {
      &__left {
         display: none;
      }
   }

   .title {
      margin: 80px 0 40px 0;
      flex-direction: column;
      align-items: flex-start;
      &__ask-button {
         width: 100%;
      }
   }
   .question {
      padding: 24px;
      &__avatar {
         width: 40px;
         height: 40px;
      }
   }

   .footer {
      &__left {
         display: none;
      }
      &__container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas:
            "logo politics "
            "social copy";
      }
      &__logo {
         & img {
            width: 104px;
            height: 40px;
         }
      }

      &__politics {
         display: flex;
         flex-direction: column;
         & a:last-child {
            margin: 8px 0 0 0;
         }
      }
      &__copy {
         justify-self: start;
      }
   }
}
////////////////////////////////////////////
@media (max-width: 425px) {
   .question {
      padding: 16px;

      // display: inline;
      // flex-direction: column;
      grid-template-columns: 55px auto;
      grid-template-areas:
         "avatar name"
         "text text";
      // grid-template-columns: 40px, auto;
      align-items: flex-start;
      &__point {
         display: none;
      }
      &__avatar {
         // display: inline;
         justify-self: start;
      }
      &__name {
         margin: 0 0 16px 0;
         display: flex;
         flex-direction: column;
         // justify-self: stretch;
      }
      &__time {
         font-size: 14px;
         line-height: 16px;
      }

      &__menu {
         display: none;
      }
   }
   .footer {
      &__container {
         grid-template-columns: 1fr;
         row-gap: 40px;
         grid-template-areas:
            "logo"
            "social"
            "politics"
            "copy";
      }
   }
}
////////////////////////////////////////////
@media (max-width: 320px) {
   h1 {
      font-family: "Circe";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
   }
   h3 {
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
   }
   .header {
      padding: 0 18px;
      &__logo {
         width: 77px;
         height: 29px;
      }

      &__search-button {
         display: block;
      }
      &__search-icon,
      &__search {
         display: none;
      }
   }
}
