@import "res.scss";

@font-face {
   font-family: "Circe";
   src: url("../fonts/Circe-Bold.eot");
   src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff"),
      url("../fonts/Circe-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Circe";
   src: url("../fonts/Circe-Regular.eot");
   src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff"),
      url("../fonts/Circe-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-Regular.eot");
   src: local("Inter Regular"), local("Inter-Regular"),
      url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"),
      url("../fonts/Inter-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-Bold.eot");
   src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"),
      url("../fonts/Inter-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-SemiBold.eot");
   src: local("Inter Semi Bold"), local("Inter-SemiBold"),
      url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"),
      url("../fonts/Inter-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}
// body {
//    overflow: hidden;
// }
h1 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 40px;
}

h3 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
}

.p16_24 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
.button16_24 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
}
.small_text14_16 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}
.input12_16 {
   font-family: "Circe";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
}
.box {
   width: 100%;
   background-color: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
   border-radius: 16px;
   &:not(:first-child) {
      margin-top: 16px;
   }
   &_green {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02), -4px 0px 0px -1px #98c746;
   }
   &_blue {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02), -4px 0px 1px -1px #7749f8;
   }
}
main {
   flex: 1 1 auto;
}

/////////////////////////////////////////////////////////////

.wrapper {
   margin: 0 auto;
   max-width: 1920px;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   position: relative;
   min-width: 100%;
   height: 80px;
   padding: 0 16.67%;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
   // overflow: hidden;
   z-index: 5;
   background: #fff;

   &__wrapper {
      // overflow: hidden;
      position: relative;
      // margin: auto 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 5;
      background: #fff;
   }
   &__logo {
      width: 120px;
      height: 46px;
   }

   &__all-questions {
      margin: 0 0 0 10px;
      text-decoration: none;
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #7749f8;
   }
   &__search-form {
      position: relative;

      flex: 0 1 40.78%;
      margin: 0 10px;
   }
   &__search-button {
      display: none;
      position: absolute;
      top: 50%;
      right: 62px;
      transform: translate(0, -50%);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 2px solid #000;
      &::after {
         content: "";
         width: 7px;
         height: 2px;
         background-color: #000;
         border-radius: 2px;
         position: absolute;
         bottom: -3px;
         right: -5px;
         transform: rotate(45deg);
      }
   }
   &__search {
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #808080;
      text-indent: 42px;
      height: 40px;
      // width: 27.19%;
      width: 100%;
      background: #f9f9f9;
      border-radius: 6px;
   }
   &__search-icon {
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translate(0, -50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #808080;
      &::after {
         content: "";
         width: 5px;
         height: 1px;
         background-color: #808080;
         position: absolute;
         bottom: -2px;
         right: -2px;
         transform: rotate(45deg);
      }
   }
   &__button-login {
      width: 93px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #7749f8;
      border-radius: 8px;
      & a {
         color: #000;
      }
   }
}

.profile {
   position: relative;
   height: 100%;
   display: flex;
   align-items: center;
   // margin-left: auto;
   &__text {
      margin: 0 16px 0 0;
   }
   &__email {
      color: #808080;
   }
   &__avatar {
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      & img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         object-fit: contain;
         height: 100%;
      }
   }
   &__arrow {
      // content: attr(data-arrow);
      position: absolute;
      top: 50%;
      right: -20px;
      width: 7px;
      height: 7px;
      border-top: 1.5px solid #7749f8;
      border-left: 1.5px solid #7749f8;
      transform-origin: 50% 50%;
      // transform: rotate(-135deg) translate(0, 50%);
      transform: rotate(-135deg);
      transition: 0.5s;
      &.active {
         transform: rotate(45deg);
         // transform: rotate(45deg) translate(50%, -50%);
      }
   }
}

/////////////////////////////////////////////////////////////

.burger__menu-button {
   display: none;
   width: 18px;
   height: 14px;
   position: relative;
   transition: 2s;
   & div {
      width: 20px;
      height: 2px;
      background-color: #000;
      border-radius: 2px;
      &:nth-child(1) {
         position: absolute;
         top: 0;
         left: 0;
         transition: 0.5s;
      }
      &:nth-child(2) {
         position: absolute;
         top: 50%;
         left: 0;
         opacity: 1;
         transition: 0.5s;
         transform: translate(0, -50%);
      }
      &:nth-child(3) {
         position: absolute;
         bottom: 0;
         left: 0;
         transition: 0.5s;
      }
   }
   &.active {
      & div {
         &:nth-child(1) {
            top: 45%;
            left: 0;
            transform: rotate(45deg);
            background-color: #7749f8;
         }
         &:nth-child(2) {
            opacity: 0;
         }
         &:nth-child(3) {
            bottom: 45%;
            transform: rotate(-45deg);
            background-color: #7749f8;
         }
      }
   }
}
.burger-menu {
   padding: 16px;
   background-color: #fff;
   position: absolute;
   top: -100%;
   right: 14%;
   width: 200px;
   height: 200px;
   border-radius: 16px;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
   z-index: 1;
   transition: 1s;
   &__profile {
      display: none;
      // display: flex;
   }
   &__button {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #7749f8;
      border-radius: 8px;
      color: #000;
   }
   &__list {
      & li {
         display: flex;
         align-items: center;
      }
      & li a {
         color: #000;
         margin: 0 0 0 8px;
      }
      li img {
         width: 16px;
         height: 16px;
      }

      & li:first-child {
         display: none;
         margin: 0 0 24px 0;
      }

      & li:not(:first-child):not(:nth-child(2)) {
         margin: 8px 0 0 0;
      }
      & li:last-child {
         padding: 16px 0 0 0;
         & a {
            color: #808080;
         }
      }
   }
   &.active {
      top: 96px;
      z-index: 2;
   }
}

/////////////////////////////////////////////////////////////
main {
   background-color: #f9f9f9;
}
.columns {
   margin: 0 auto;
   display: flex;
   justify-content: center;

   &__left {
      flex: 0 1 27.5%;
      & div {
         // width: 328px;
         height: 828px;
         background-color: #c4c4c4;
         margin: 120px 15.15% 0 22.73%;
         opacity: 0.1;
      }
      &_answer div {
         margin: 80px 15.15% 0 22.73%;
      }
   }

   &__right {
      flex: 0 1 27.5%;
      & div {
         // width: 328px;
         height: 480px;
         background-color: #c4c4c4;
         margin: 120px 15.15% 0 22.73%;
         opacity: 0.1;
      }
      &_answer div {
         margin: 80px 15.15% 0 22.73%;
      }
   }
}

/////////////////////////////////////////////////////////////
.main-column {
   flex: 1 1 864px;
   padding: 0 16px;
}
.title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 120px;
   &__ask-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 48px;
      background: #7749f8;
      border-radius: 6px;
      color: #fff;
   }
}

/////////////////////////////////////////////////////////////
.questions-list {
   display: block;
   margin: 0 0 120px 0;
}
.no-avatar {
   font-family: "Inter";
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   &_orange {
      background-color: #fecba1;
   }
   &_pink {
      background-color: #ffcccc;
   }
   &_blue {
      background-color: #cce0ff;
   }
}
.question {
   position: relative;
   display: grid;
   justify-content: start;
   grid-template-areas:
      "avatar name"
      "avatar text";
   padding: 32px;

   &__avatar {
      grid-area: avatar;
      flex: 0 0 auto;
      margin: 0 16px 0 0;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      & img {
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__text-box {
      grid-area: text;
      width: 100%;
   }
   &__images {
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      & img {
         border-radius: 8px;
         flex: 0 0 30%;
         object-fit: cover;
         max-width: 30%;
      }
   }
   &__name {
      margin: 0 0 12px 0;
      grid-area: name;
      color: #808080;
   }
   &__point {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #808080;
      display: inline-block;
      margin: 0 8px 3px;
   }

   &__menu {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 3px;
      height: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
         cursor: pointer;
      }
      & div {
         width: 3px;
         height: 3px;
         border-radius: 50%;
         background-color: #808080;
      }
   }

   &__info {
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_answer {
         margin: 40px 0 0 0;
      }
   }
   &__answer-button {
      // width: 115px;
      height: 40px;
      padding: 0 16px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #808080;
      border: 1px solid #dbdbdb;
   }
   &__answer-button.check {
      background: #69cb39;
      border-radius: 6px;
      color: #fff;
      &.check::before {
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/main/check.svg") -6px 0 no-repeat;
      }
   }
   &__answer-button.no-check {
      color: #000;
   }
   &__labels {
      display: flex;
      align-items: center;
   }
   &__view {
      color: #808080;
      margin: 0 16px 0 0;
   }

   &__bookmark {
      background: url("../img/main/bookmark.svg") 50% 50% no-repeat;
      width: 32px;
      height: 32px;
      border: 1px solid #dbdbdb;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         cursor: pointer;
      }
      &.active {
         background: url("../img/main/bookmark_red.svg") 50% 50% no-repeat;
      }
   }
}

/////////////////////////////////////////////////////////////
.answer-title {
   & h1 {
      margin: 80px 0 40px 0;
   }
}
.answer {
   position: relative;
   display: grid;
   justify-content: start;
   grid-template-areas:
      "avatar name"
      "avatar text";
   padding: 32px;

   &__avatar {
      grid-area: avatar;
      flex: 0 0 auto;
      margin: 0 16px 0 0;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      & img {
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__text-box {
      grid-area: text;
      width: 100%;
   }
   &__images {
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      & img {
         border-radius: 8px;
         flex: 0 0 30%;
         object-fit: cover;
         max-width: 30%;
      }
   }
   &__name {
      // display: grid;
      margin: 0 0 12px 0;
      grid-area: name;
      color: #808080;
   }
   &__user-name {
      grid-area: user-name;
   }
   &__time {
      grid-area: time;
   }

   &__point {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #808080;
      display: inline-block;
      margin: 0 8px 3px;
   }

   &__menu {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 3px;
      height: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
         cursor: pointer;
      }
      & div {
         width: 3px;
         height: 3px;
         border-radius: 50%;
         background-color: #808080;
      }
   }
   &__images {
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      & img {
         border-radius: 8px;
         flex: 0 0 30%;
         object-fit: cover;
         max-width: 30%;
      }
   }
   &__info {
      margin: 24px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__button {
      // width: auto;
      height: 40px;
      padding: 0 12px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      border: 1px solid #dbdbdb;
      &::before {
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/answer/no_like.svg") -4px 0 no-repeat;
      }
      &.like::before {
         background: url("../img/answer/like.svg") -4px 0 no-repeat;
      }
   }
   &__right {
      grid-area: right;
      color: #69cb39;
      margin: 0 0 0 48px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: -32px;
         width: 24px;
         height: 24px;
         background-image: url("../img/answer/check.svg");
      }
      &_off {
         display: none;
      }
   }
}

/////////////////////////////////////////////////////////////
.footer {
   padding: 0 16px;
   display: flex;
   justify-content: space-between;

   &__left,
   &__right {
      flex: 1 1 27.5%;
   }
   &__container {
      padding: 24px 0;
      flex: 0 1 864px;
      display: grid;
      row-gap: 24px;
      grid-template-areas:
         "logo social"
         "politics copy";
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      grid-area: logo;
      & img {
         width: 146px;
         height: 56px;
      }
   }

   &__social-copy {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 40px 0 0 0;
   }
   &__social {
      grid-area: social;
   }
   &__social-block {
      display: flex;
      justify-content: space-between;
      width: 184px;
   }
   &__politics {
      grid-area: politics;
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-decoration: underline;
      & a {
         color: #808080;
         margin: 0 10px 0 0;
      }
   }
   &__copy {
      grid-area: copy;
      justify-self: end;
      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #cccccc;
   }
}

/////////////////////////////////////////////////////////////
.question-alone {
   margin: 80px 0 0 0;
}

/////////////////////////////////////////////////////////////

.your-answer {
   position: relative;
   padding: 32px;
   display: grid;
   row-gap: 16px;
   justify-items: flex-start;
   grid-template-columns: 64px max-content auto;
   grid-template-areas:
      "avatar textarea textarea"
      "avatar attach attach"
      "avatar button checkbox";
   &__avatar {
      grid-area: avatar;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #cccccc;
      & img {
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &__textarea {
      grid-area: textarea;
      height: 160px;
      border: 1px solid #dbdbdb;
      border-radius: 8px;
      width: 100%;
      resize: none;
      padding: 16px;
   }

   &__attach {
      grid-area: attach;
      align-self: center;
   }

   &__photo {
      padding: 0 0 0 28px;
      color: #7749f8;
      position: relative;
      &::before {
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/answer/photo.svg");
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   &__video {
      color: #000;
      padding: 0 0 0 28px;
      position: relative;
      &::before {
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/answer/video.svg");
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   &__button {
      grid-area: button;
      width: 214px;
      height: 48px;
      background-color: #7749f8;
      border-radius: 6px;
      color: #fff;
   }
   &__checkbox {
      align-self: center;
      grid-area: checkbox;
      margin: 0 0 0 24px;
      & span {
         margin: 0 0 0 8px;
      }
   }
   &__logout {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16px;

      background: rgba($color: #fff, $alpha: 0.7);
   }
   &__button-login {
      width: 100%;
      height: 72px;
      padding: 24px 32px;
      background: #7749f8;
      border-radius: 16px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: start;
      & a {
         color: #fff;
         text-decoration: underline;
      }
   }
}

/////////////////////////////////////////////////////////////

.ask-block {
   margin: 80px 0 120px 0;
}
.ask {
   // height: 112px;
   padding: 32px 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__text {
   }

   &__button {
      width: 198px;
      height: 48px;
      background-color: #7749f8;
      border-radius: 6px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

/////////////////////////////////////////////////////////////
.input {
   &_up {
      position: relative;
      border-radius: 8px;

      &__placeholder {
         padding: 0 4px;
         background: #fff;
         position: absolute;
         top: -1px;
         left: 12px;
         & span {
            color: #808080;
            position: relative;
            top: -7px;
         }
      }
   }
   &-form {
      background: #fff;
      border-radius: 8px;
      width: 400px;
      height: 48px;
      border: 1px solid #dbdbdb;
      padding: 0 16px;
      &.error {
         border: 1px solid #ff7979;
      }
   }

   &__error {
      display: none;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
      color: #ff7979;
      &.error {
         display: block;
      }
   }
   &__error-reg {
      display: none;
      position: absolute;
      // bottom: -30px;
      top: 140%;
      // transform: translate(0, 200%);
      left: 0;
      transform: translate(0, -50%);
      color: #ff7979;
      &.error {
         display: block;
      }
   }
}

/////////////////////////////////////////////////////////////

.registration {
   margin: 0 0 0 27%;
   width: 400px;
   padding: 129px 0;

   &__title {
      grid-area: title;
   }
   & form > a {
      color: #7749f8;
   }

   &__name {
      grid-area: name;
      margin: 40px 0 0 0;
   }
   &__email {
      grid-area: email;
      position: relative;
      margin: 16px 0 0 0;
   }

   &__pass {
      grid-area: pass;
      margin: 40px 0 0 0;
   }

   &__repeat-pass {
      grid-area: repeat-pass;
      margin: 16px 0 0 0;
   }

   &__info {
      grid-area: info;
      display: flex;
      align-items: center;
      color: #aaaaaa;
      margin: 40px 0 0 0;
      & button {
         flex: 0 0 auto;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 24px 0 0;
         padding: 12px 24px;
         background-color: #7749f8;
         border-radius: 6px;
         color: #fff;
      }
      & a {
         color: #aaaaaa;
         text-decoration: underline;
      }
   }
}
/////////////////////////////////////////////////////////////

.enter {
   margin: 0 0 0 27%;
   width: 400px;
   padding: 129px 0;
   &__title {
      & a {
         color: #7749f8;
      }
   }

   &__email {
      position: relative;
      margin: 40px 0 0 0;
   }

   &__pass {
      margin: 16px 0 0 0;
   }
   &__forget {
      display: flex;
      justify-content: end;
      margin: 8px 0 0 0;
      color: #808080;
   }

   & button {
      // flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px 0 0 0;
      padding: 12px 57.5px;
      background-color: #7749f8;
      border-radius: 6px;
      color: #fff;
   }
   &__inputs {
   }
}

/////////////////////////////////////////////////////////////

.recover {
   margin: 0 0 0 27%;
   width: 512px;
   padding: 120px 0;

   &__text {
      margin: 40px 0 0 0;
   }

   &__email {
      margin: 16px 0 0 0;
   }
   & button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0 0 0;
      padding: 12px 57.5px;
      background-color: #7749f8;
      border-radius: 6px;
      color: #fff;
   }
}

/////////////////////////////////////////////////////////////

@import "adaptiv.scss";

* {
   // border: 1px solid red;
}
